/*
1. Posicion
2. Box model
3. Typography
4. Visual effects
5. Miscellaneous
*/

:root {
    /* Colors */
    --bitcoin-orange: #F7931A;
    --soft-orange:#FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black:#201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --white: #FFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif; 
    scroll-behavior: smooth;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    background: linear-gradient(207.8deg, var(--warm-black) 16.68%, var(--bitcoin-orange) 100%);
}

.header__logo {
    width: 15rem;
    height: 30px;
    margin-top: 4rem;
    align-self: center;

}

.header__title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 4rem;
    text-align: center;
    align-self: center;
    color: var(--white);
}

.header__title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--white);
}

.header__title-container p {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin: 2rem;
    color: var(--soft-orange);
}

.header__title-container .header__icon {
    position: absolute;
    display:block;
    width: 22rem;
    height: 4.5rem;
    padding: 1rem;
    left: calc(50% - 110px);
    top: calc(100% - 2.25rem);
    background-color: var(--off-white);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--warm-black);
    text-decoration: none; 
}

.header__title-container span {
    display: inline-block;
    width: 1.3rem;
    height: .8rem;
    margin-left: .7rem;
    background-image: url(./assets/icons/Vector.svg);
}

.main__exchange--container {
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 8rem;
    background-color: var(--off-white);
}

.main__text--container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main__exchange--container .main__backgroundImg {
    width: 200px;
    height: 200px;
    min-width: 320px;
    background: url(./assets/images/Bitcoin.svg) center/cover no-repeat;
    margin: 0 auto;
    margin-bottom: 5rem;
}

.main__exchange--container h2 {
    margin-bottom: 3rem;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--warm-black);
    font-weight: bold;
}

.main__exchange--container p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #757575;
}

.main__currency--table, .main__comision--table {
    width: 70%;
    min-width: 238px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

.main__currency--table .currency__table--title, .main__comision--table .comision__table--title {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.3rem;
    margin-top: 4.5rem;
    margin-bottom: 2rem;
    display: flex;
    align-self: flex-start;
}

.main__currency--table .currency__table--title {
    color: #FF9536;
}

.main__comision--table .comision__table--title {
    color: var(--secondary-blue)
}

.table__currency--container, .table__comision--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.table__currency--container table {
    width: 100%;
    height: 100%;
}

.table__comision--container table {
    width: 100%;
    height: 100%;
}

.table__currency--container td , .table__comision--container  td {
    width: 50%;
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: 500;
    color: var(--grey);
    background-color: var(--white); 
}

.table__currency--container .table--top-left, .table__comision--container .table--top-left {
    border-radius: 15px 0 0 0;
}

.table__currency--container .table--top-right, .table__comision--container .table--top-right {
    border-radius: 0 15px 0 0;
}

.table__currency--container .table--bottom-right, .table__comision--container .table--bottom-right {
    border-radius: 0 0 15px 0;
}

.table__currency--container .table--bottom-left, .table__comision--container .table--bottom-left {
    border-radius: 0 0 0 15px;
}

.table__currency--container .table--right, .table__comision--container .table--right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.table__currency--container span {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
}

.table__currency--container .down {

    background: url(./assets/icons/trending-down\ 1.svg) center/cover no-repeat;
}

.table__currency--container .up {
    background: url(./assets/icons/trending-up\ 1.svg) center/cover no-repeat;
}

.main__tables-container .table--info {
    display: flex;
    margin: 2.1rem auto;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: fit-content;
    height: 3rem;
    border-radius: 8px;
}

.main__tables-container .table--info p {
    font-size: 12px;
    line-height: 14.5px;
    font-weight: 400;
}

.table--info b {
    font-weight: 700;
}

.main__currency--table .table--info {
    background-color: var(--soft-orange);
}

.main__comision--table .table--info {
    background-color: var(--soft-blue);
}

.main__info--container {
    position: relative;
    width: 100%;
    height: auto;
    min-width: 320px;
    max-width: 900px;
    padding: 2rem 1rem;
    background-color: var(--warm-black);
}

.main__info--container .batata-icon {
    width: 40px;
    height: 24px;
    left: calc(50% - 20px);
    top: calc(0% - 12px);
    position: absolute;
    background: url(./assets/images/Group16.svg) center/cover no-repeat;
}

.info__text--container {
    height: auto;
    width: 90%;
    min-width: 288px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.info__text--container h2 {
    font-weight: bold;
    margin-bottom: 2rem;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--white);
}

.info__text--container p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-bottom: 4rem;
    color: var(--grey);
}

.info__cards--container {
    height: auto;
    width: 100%;
}

.info__cards--container .card--real-time, .card--tasas, .card--money-compare, .card--trust-info {
    width: 90%;
    min-height: 152px;
    min-width: 288px;
    max-width: 400px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    background-color: var(--black);
    border-radius: 6px;
    margin: 1.5rem auto;
    padding: 15px;
}

.info__cards--container .card--title {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--white);
    margin: 10px 0;
}

.info__cards--container .card--info {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-top: 1rem;
    color: var(--grey);
}


.card--real-time span, .card--tasas span , .card--money-compare span , .card--trust-info span{
    display: inline-block;
    width: 25px;
    height: 25px;
}

.card--real-time .clock {
    background: url(./assets/icons/clock1.svg) center/cover no-repeat;
}

.card--tasas .eye {
    background: url(./assets/icons/eye1.svg) center/cover no-repeat;
}

.card--money-compare .dollar-sign {
    background: url(./assets/icons/dollar-sign1.svg) center/cover no-repeat;
}

.card--trust-info .check-icon {
    background: url(./assets/icons/check-circle1.svg) center/cover no-repeat;
}

.main__picture--container {
    position: relative;
    text-align: center;
    width: 100%;
    height: 50vh;
    min-width: 320px;
    max-width: 900px;   
    background: url(./assets/images/bitcoinbaby1.jpg) center/cover no-repeat;
}

.main__picture--container h2 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    padding-top: 60px;
    color: var(--white);
}


.main__plan--container {
    height: auto;
    width: 100%;
    min-width: 300px;
    max-width: 900px;
    margin: 0 auto;
    padding: 35px;
    background-color: var(--off-white);
}

.plan__card--anual

.plan__text--container {
    display: flex;
    flex-direction: column;
    min-width: 288px;
}

.plan__text--container h2 {
    font-size: 2.4rem;
    text-align: center;
    font-weight: 700;
    line-height: 2.6rem;
    margin-top: 40px;
    margin-bottom: 15px;
    color: var(--warm-black);
}

.plan__text--container p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    text-align: center;
    color: #757575;
}

.plan__card--anual, .plan__card--weekly, .plan__card--mensual {
    position: relative;
    scroll-snap-align: center;
    text-align: center;
    height: 250px;
    width: 50%;
    min-width: 200px;
    max-width: 300px;
    padding: 30px 0;
    margin: 30px auto;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    background: var(--white);
}

.prem, .adv, .basic {
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 14.52px;
    width: 101px;
    height: 31px;
    left: calc(50% - 50px);
    top: calc(0% - 15px);
    padding: 7px;
    border-radius: 8px;
    color: var(--white);
}

.prem {
    background: linear-gradient(207.8deg, var(--warm-black) 16.68%, var(--bitcoin-orange) 100%);
}

.adv {
    background: linear-gradient(207.8deg, var(--warm-black) 16.68%, var(--secondary-blue) 100%);
}

.basic {
    background: linear-gradient(207.8deg, var(--warm-black) 16.68%, green 100%);
}

.plan__card--title {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-bottom: 1rem;
    color: var(--black);
}

.plan__card--price {
    font-family: 'Inter', sans-serif;
    padding: 5px 0;
    letter-spacing: -3.5px;
    font-weight: bold;
    font-size: 5.2rem;
    line-height: 6.3rem;
    color: var(--black);
}

.plan__card--price span {
    font-family: 'Inter', sans-serif;
    text-align: left;
    vertical-align: text-top;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: #363636;
}

.plan__card--info {
    font-family: 'Inter', sans-serif;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: #757575;
}

.plan__card--prem, .plan__card--adv, .plan__card--basic {
    font-family: 'DM Sans', sans-serif;
    margin-top: 5px;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 18.23px;
    width: 150px;
    height: 48px;
    border-radius: 4px;
    background-color: var(--off-white);
    color: var(--black);
}

.plan__card--basic {
    border: 2px solid green;
}

.plan__card--adv {
    border: 2px solid var(--secondary-blue);
}

.plan__card--prem {
    border: 2px solid var(--bitcoin-orange);
}

.plan__card--prem span, .plan__card--adv span, .plan__card--basic span {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(./assets/icons/arrow-right1.svg) center/cover no-repeat;
    vertical-align: middle;
}

.plan__container--slider {
    display: flex;
    gap: 15px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type:x proximity;
    height: 316px;
}

footer {
    height: auto;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
    background-color: var(--bitcoin-orange);
    position: relative;
}

footer ul {
    list-style: none;
}

footer ul li {
    padding: 2px;
}

footer ul li a {
    color: var(--white);
    cursor: pointer;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}


footer .text--container {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--white);
}

